*~
.pytest_cache/
__pycache__/
tc_neg_16
tc_neg_16.v
*.txt
tc_abs_16
tc_abs_16.v
newton_raphson
newton_raphson_divide_16_16
newton_raphson_divide_16_16.v
*.out
*.c
cpp_div.cpp
huang_div_normalized_16_16
huang_div_normalized_16_16.v
huang_divide_16_16
huang_divide_16_16.v
newton_raphson_divide_8_8
newton_raphson_divide_8_8.v
mult_8_8
mult_8_8.v
make_const_16
make_const_16.v
make_const_16_27
make_const_16_27.v
many_assigns_32
many_assigns_32.v
non_inlined_32
non_inlined_32.v
cube_32.v
add_complex
add_complex.v
mult_16_16
mult_16_16.v